<!--
  Generated template for the Pagina2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Página 2</ion-title>

    <!-- Botones para ordenar -->
    <ion-buttons end>
        <button ion-button
          *ngIf="!ordenando"
          (click)="ordenando = true"> <!-- Creado para solucionar problema Refresh al ordenar hacia abajo -->
          Ordenar
        </button>
  
        <button ion-button
          *ngIf="ordenando"
          (click)="ordenando = false"> <!-- Creado para solucionar problema Refresh al ordenar hacia abajo -->
          Listo
        </button>
      </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content padding>

  <!-- Mostrar el contenido del array personas recorriéndolo con *ngFor -->
  <!-- Simple -->
  <!-- <ion-list>
    <ion-item *ngFor="let persona of personas; let i = index">
      <p><strong>Nombre: </strong>{{persona.nombre}}</p>
      <p><strong>Apellidos: </strong>{{persona.apellidos}}</p>
      <p><strong>Email: </strong>{{persona.email}}</p>
      <p><strong>DNI: </strong>{{persona.dni}}</p>
      <p><strong>País: </strong>{{persona.pais}}</p>
    </ion-item>
  </ion-list> -->


<!-- Ponemos el refresher dentro del ion-content -->
<ion-refresher [enabled] = "!ordenando" (ionRefresh)="recargar_personas($event)">
    <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<!-- Mostrar el contenido del array personas recorriéndolo con *ngFor -->
<!-- Más complejo (eliminar y reordenar elementos de lista + refresher) -->
<ion-list [reorder]="ordenando" (ionItemReorder)="reordenar_personas($event)"> <!-- Propiedad reorder añadida posteriormente - Permite reordenar la lista -->
  <ion-item-sliding *ngFor="let persona of personas; let i = index">
      <ion-item>
          <p><strong>Nombre: </strong>{{persona.nombre}}</p>
          <p><strong>Apellidos: </strong>{{persona.apellidos}}</p>
          <p><strong>Email: </strong>{{persona.email}}</p>
          <p><strong>DNI: </strong>{{persona.dni}}</p>
          <p><strong>País: </strong>{{persona.pais}}</p>
        </ion-item>
        <ion-item-options side="right">
            <button ion-button color="danger"
              (click)="borrar_persona(i)">
              <ion-icon name="trash"></ion-icon>
              Borrar
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

</ion-content>
